body {
    background-color: black;
    color: white;
}

/* .side-bar-left,
.center-content,
.side-bar-right {
    height: 90vh;
    border: 1px solid white;
}

.command-bar {
    height: 10vh;
    border: 1px solid white;
} */

.my-custom-scrollbar {
    position: relative;
    height: 30rem;
    overflow: auto;
    scrollbar-color: lightgray black;
}

.table-wrapper-scroll-y {
    display: block;
}

.command-left,
.command-center,
.command-right {
    border: 1px solid white;
    height: 10vw;
}

.center-content {
    background-color: rgb(15, 15, 15);
}

.left-btn,
.right-btn {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: black;
}

.user-img {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
}

.user-btn {
    height: 30px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: black;
}

.home a,
.search a,
.books a,
.playlist a,
.liked a,
.episodes a {
    font-size: 9pt;
    color: white;
    text-decoration: none;
}






/* album css */
.album-img {
    width: 300px;
}

.artist-img {
    width: 30px;
    border-radius: 50%;
}

.table {
    color: lightgray;
}


.album-img-mob {
    width: 200px;
}

/* Navbar bottom player */

.bg-container {
    height: 5.5rem;
    background-color: #282828;
}


.progress {
    color: white;
    background-color: #414141;
    height: 3px;
}

.playBar p {
    margin-bottom: 20px;
    color: white;
}

.img-placeholder {
    width: 50px;
    height: 50px;
    background-color: black;
}

.form-range {
    width: 35%;
    height: 0.8rem;
}

 .progress {
    width: 400px;
}

#player {
    text-align: center;
}

.play-btn {
    font-size: 30px;
    cursor: pointer;
}

.backward,
.forward {
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .sidebar-left {
        display: none;
    }

    .side-bar-right {
        display: none;
    }

    .my-custom-scrollbar {
        display: none;
    }

    .bottomPlayer {
        display: none;
    }

    #album-content {
        display: none;
    }
}


.sidebar-right .col-12.d-flex.p-0 {
    width: 16.6vw;
}



.command-bar {
    height: 10%;
    background-color: rgb(15, 15, 15);
    border-top: 1px solid grey;
}

.command-left,
.command-center,
.command-right {
    max-height: 10vw;
}

.center-content {
    background-color: rgb(15, 15, 15);
}


.resp-bottom-bar {
    height: 10vh;
    background-color: rgba(30, 30, 30, 0.5);
}

.resp-bottom-bar .fa-solid {
    font-size: 15pt;
    padding: 20px;

}

.resp-bottom-bar p {
    font-size: 8pt;
}

.resp-bottom-bar>.col-8.col-md-4>div {
    cursor: pointer;
}