body {
    background-color: black;
    color: white;
}

.sidebar-left, .sidebar-right, .side-scrollbar , .list-group-item{
    background-color: #121212!important;
    /* !important per fare override del background di list-group-item*/
}

/* .side-bar-left,
.center-content,
.side-bar-right {
    height: 90vh;
    border: 1px solid white;
}

.command-bar {
    height: 10vh;
    border: 1px solid white;
} */

.my-custom-scrollbar {
    position: relative;
    height: 30rem;
    overflow: auto;
    scrollbar-color: #7D7D7D black;
}

.table-wrapper-scroll-y {
    display: block;
}

.command-left,
.command-center,
.command-right {
    border: 1px solid white;
    height: 10vw;
}

.center-content {
    background-color: rgb(15, 15, 15);
}

.left-btn,
.right-btn {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: black;
}

.user-img {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
}

.user-btn {
    height: 30px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: black;
}

.home a,
.search a,
.books a,
.playlist a,
.liked a,
.episodes a {
    font-size: 9pt;
    color: white;
    text-decoration: none;
}


/*SIDEBAR*/
div.d-flex i.fa-ellipsis {
    color: #7D7D7D;
}
/*sidebar SCROLL*/
.side-scrollbar {
    height: 90vh;
    overflow-y: scroll;
}

.side-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.side-scrollbar::-webkit-scrollbar-track {
    background-color: black;
}
.side-scrollbar::-webkit-scrollbar-thumb {
    background-color: #7D7D7D;
}

.list-group-item {
    background-color: black;
    border: none;
    color: #7D7D7D;
    font-size: 9pt;
    padding-top: 0;
    padding-bottom: 0;
}

/*SIDEBAR DESTRA*/
div.user-box img {
    width: 2em;
    height: 2em;
    object-fit: cover;
    border-radius: 50%;
}

span.fs-11pt {
    color:#7D7D7D;
    font-size: 11pt;
    font-weight: bold;
}

span.fs-9pt {
    color:#7D7D7D;
    font-size: 9pt;
}

.top-right-btn{
    font-size: 10pt;
    color: #7D7D7D;
    border: none;
    background-color: transparent;
}

/* USER DROPDOWN BUTTON*/
button.user-button {
    background-color: black;
    color: white;
    border-radius: 999px;
    border: none;
    padding: 0;
}

button.user-button::after {
    color: white;
    margin-right: 0.4em;
}

.user-button img {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
    border-radius: 50%;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item:hover {
    background-color: rgba(128, 128, 128, 0.527);
}

/* album css */
.album-img {
    width: 300px;
}

.artist-img {
    width: 30px;
    border-radius: 50%;
}

.table {
    color: lightgray;
}


.album-img-mob {
    width: 200px;
}

/* Navbar bottom player */

.bg-container {
    height: 5.5rem;
    background-color: #282828;
}


.progress {
    color: white;
    background-color: #414141;
    height: 3px;
}

.playBar p {
    margin-bottom: 20px;
    color: white;
}

.img-placeholder {
    width: 50px;
    height: 50px;
    background-color: black;
}

.form-range {
    width: 35%;
    height: 0.8rem;
}

 .progress {
    width: 400px;
}

#player {
    text-align: center;
}

.play-btn {
    font-size: 30px;
    cursor: pointer;
}

.backward,
.forward {
    font-size: 20px;
    cursor: pointer;
}



@media screen and (max-width:768px) {
    .sidebar-left {
        display: none;
    }

    .sidebar-right {
        display: none;
    }

    .my-custom-scrollbar {
        display: none;
    }

    .bottomPlayer {
        display: none;
    }

    #album-content {
        display: none;
    }
}

.command-bar {
    height: 10%;
    background-color: rgb(15, 15, 15);
    border-top: 1px solid grey;
}

.command-left,
.command-center,
.command-right {
    max-height: 10vw;
}

.center-content {
    background-color: rgb(15, 15, 15);
}


.resp-bottom-bar {
    height: 10vh;
    background-color: rgba(30, 30, 30, 0.5);
}

.resp-bottom-bar .fa-solid {
    font-size: 15pt;
    padding: 20px;

}

.resp-bottom-bar p {
    font-size: 8pt;
}

.resp-bottom-bar>.col-8.col-md-4>div {
    cursor: pointer;
}

/*SEARCH FUNCTION*/
.input-search{
    width: 100%;
    color: white;
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
    border: 1px solid white;
}

.open-btn-cont{
    position: relative;
}

.open-right-btn{
    position: absolute;
    top: 10px;
    right: 0;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: black;

}

/* CSS origin */

.sidebar-left, .center-content, .sidebar-right{
    height: 90vh;
    position: fixed;
}

.sidebar-right{
    top: 0;
    right: 0;
}

.center-content{
    left: 18vw;
}
