/*MAIN PAGE*/
body {
    background-color: black;
    color: white;
}

.side-bar-left,
.center-content,
.side-bar-right {
    height: 90vh;
}

.command-bar{
    position: fixed;
    bottom: 0;
    height: 10vh;
    background-color: rgb(111, 108, 108);
}

.center-content {
    background: linear-gradient(180deg, rgba(51,51,51,1) 35%, rgba(0,0,0,1) 100%);
}

.left-btn {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: black;
}

.right-btn {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    color: grey;
    background-color: black;
}

.right-btn-sm {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: grey;
}


.user-img {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
}

.user-btn {
    height: 30px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: black;
}

.home a,
.search a,
.books a,
.playlist a,
.liked a,
.episodes a {
    font-size: 9pt;
    color: white;
    text-decoration: none;
}

/*SCROLLBAR*/
.side-scrollbar {
    height: 80vh;
    overflow-y: scroll;
}

.list-group-item {
    background-color: black;
    border: none;
    color: #7D7D7D;
    font-size: 9pt;
    padding-top: 0;
    padding-bottom: 0;
}

/* USER DROPDOWN BUTTON*/
button.user-button {
    background-color: black;
    color: white;
    border-radius: 999px;
    border: none;
    padding: 0;
}

button.user-button::after {
    color: white;
    margin-right: 0.4em;
}

.user-button img {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
    border-radius: 50%;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item:hover {
    background-color: rgba(128, 128, 128, 0.527);
}


/* *ARTIST PAGE*/
.jumbotron {
    height: 45vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

i.fa-check {
    color: #0D6EFD;
}

.font-size-10pt {
    font-size: 10pt;
}

.font-size-9pt {
    font-size: 9pt;
}

#jumboTitle div div span.bg-primary {
    border-radius: 50%;
}

/*bottoni under jumbotron*/
i.fa-play {
    color: black;
}

.play-btn {
    background-color: #1FDF64;
    border-radius: 50%;
}

div.d-flex i.fa-ellipsis, i.fa-ellipsis-vertical {
    color: #7D7D7D;
}

.fa-shuffle {
    color: #1FDF64;
}

.font-size-15pt {
    font-size: 15pt;
}

.see-more {
    background-color: transparent;
    border: none;
    color: #7D7D7D;
}

/*classi JS*/
.text-white {
    color: white;
}

.img-tracklist {
    width: 3em;
}

.img-favourite {
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*responsive*/

@media screen and (max-width: 992px) {
    div.sidebar-left, div.side-bar-right {
        display: none;
    }

    #userDropdown, #arrows {
        display: none;
    }

}